<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AnthropicAPIKey</key>
	<string>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</string>
</dict>
</plist>
